<form action="/photo_geo_tagger/save_trip_data" method="post" class="newform">
  <header class="topbar">
  <a class="button left secondary second-clear return_home" href="/">Home</a>


 <!-- 
  <a class="button right alert" data-toggle="slideout" data-toggle-text="More Info" href="#info">Hide Info
  </a>-->
  <input class="button alert right" type="submit" value="End Trip">

  <input type="hidden" name="trip_id" value="<%= params[:id] %>">
  <h1>Recording trip: <%= @trip_data['name'] %></h1>
</header>

<div style="text-align: center;">

    <ul class="pricing-table timeline">
      <li class="bullet-item line-item hid">

        <img src="<%=asset_path('camera-white')%>.png" class="icon-cam-fade">
        <span class="label">0:15</span>
        <span class="label secondary">37, -38</span>
</aside>


  
      </li>
      <li class="bullet-item line-item hid">

        foo
  
      </li>
      <li class="bullet-item line-item hid">

        foo
  
      </li>
      <li class="bullet-item line-item hid">

        foo
  
      </li>
      <li class="bullet-item line-item hid">

        foo
  
      </li>
      <li class="bullet-item line-item line-item-next">

        foo
  
      </li>
    </ul>

    <aside id="info" class="bump">
    <ul class="pricing-table recording">
      <li class="title">
        <%= @trip_data['from'] %>
        <i class="caret_right"></i>
        <%= @trip_data['to'] %></li>
      <li class="price"><%= @trip_data['description'] %></li>
      <!-- <li class="description">An awesome description</li> -->
      <li class="bullet-item"><span class="label">Duration</span> <%= @trip_data['duration'].to_i / 60 %> minutes</li>
      <li class="bullet-item"><span class="label">Vehicle</span> <%= @trip_data['vehicle'] %></li>
      <li class="bullet-item">

        <a class="button fillout secondary second-clear" data-target="#camfile">
          <aside  class="filler">
          <img src="<%=asset_path('camera-white')%>.png"></aside>
          <input id="camfile" type="file" accept="image/*;capture=camera">
        </a>

  
  
      </li>
    </ul>

  </aside>

</form>
</div>

<script>
    navigator.geolocation.getCurrentPosition(function (position) {
        $('#loc').html(position.coords.latitude + ', ' + position.coords.longitude);
    });
</script>