<% content_for :body_class, "ioslike header_sans_margin" %>

<meta name="viewport" content="initial-scale=1.0, user-scalable=yes"/>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9XWGKCdbkwvHSDtoLWp-Ll4NRfGCjbL0&sensor=false">
</script>

<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(<%= @gps_data[4][1] %>, <%= @gps_data[4][2]%>),
            zoom: 12
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

        var routeCoords = [];

        <% @gps_data.each_with_index do |d, i| %>
        <%= "routeCoords.push(new google.maps.LatLng(#{d[1]}, #{d[2]}));" %>

        <% if true %>
        (function () {
            <% if i == 0 %>
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(<%= d[1] %>, <%= d[2] %>),
                map: map,
                title: "position <%= i %>",
                icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
            });

            var infowindow = new google.maps.InfoWindow({
                content: "<div style='width: 300px; height: 300px;'>Left Origin at <%= Time.at(d[0].to_i).strftime("%m/%d/%Y %I:%M %p") %><br><br><img width='300' src='<%= d[3] %>'><br><br><u>Add Note</u> </div>"
            });

            <% elsif i == @gps_data.length - 1 %>
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(<%= d[1] %>, <%= d[2] %>),
                map: map,
                title: "position <%= i %>",
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
            });

            var infowindow = new google.maps.InfoWindow({
                content: "<div style='width: 300px; height: 300px;'>Arrived at <%= Time.at(d[0].to_i).strftime("%m/%d/%Y %I:%M %p") %><br>Trip Duration: <%= d[4]%> minutes<br><br><img width='300' src='<%= d[3] %>'><br><br><u>Add Note</u> </div>"
            });

            <% else %>
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(<%= d[1] %>, <%= d[2] %>),
                map: map,
                title: "position <%= i %>",
                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
            });

            var infowindow = new google.maps.InfoWindow({
                content: "<div style='width: 300px; height: 300px;'>Position #<%= i%> at <%= Time.at(d[0].to_i).strftime("%m/%d/%Y %I:%M %p") %><br>Duration: <%= d[4]%> minutes<br><br><img width='300' src='<%= d[3] %>'><br><br><u>Add Note</u> </div>"
            });

            <% end %>

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

        })();
        <% end %>

        <% end %>

        var routePath = new google.maps.Polyline({
            path: routeCoords,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });

        routePath.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);


</script>



<header class="topbar">
  <a class="button left secondary second-clear return_home" href="/">Home</a>


  <a class="button right alert" data-toggle="slideout" data-toggle-text="More Info" href="#info">Hide Info
  </a>

  <h1><%= @trip_data['name'] %></h1>
</header>

<!-- <div class="off-canvas-wrap">
  <div class="inner-wrap"> -->


<!-- <section class="content"> -->
    <div style="float: left; margin-top: 72px; padding-top: 0px;" id="map-canvas"></div>

    <div style="clear: both; margin-top: 10px; text-align: center">

    </div>


    <aside id="info">
        <ul class="pricing-table">
          <li class="title">
            <%= @trip_data['from'] %>
            <i class="caret_right"></i>
            <%= @trip_data['to'] %></li>
          <li class="price"><%= @trip_data['description'] %></li>
          <!-- <li class="description">An awesome description</li> -->
          <li class="bullet-item"><span class="label">Duration</span> <%= @trip_data['duration'].to_i / 60 %> minutes</li>
          <li class="bullet-item"><span class="label">Vehicle</span> <%= @trip_data['vehicle'] %></li>
          <li class="bullet-item"><span class="label">Fuel Required</span> <%= @trip_data['fuel_required'] %> Liters</li>
        </ul>
    </aside>

<!--   </div>
</div> -->
<!-- </section> -->
<%
=begin %>
<ul class="slides" data-orbit>
  <% @gps_data.each_with_index do |d, i| %>
      <li marker_id="<%= i %>" class="marker_image" data-orbit-slide="<%= i %>">
        <img width="375" src="<%= d[3] %>">
        <dl class="orbit-caption">
            <dt>Position</dt>
                <dd>#<%= i %> at <%= Time.at(d[0].to_i).strftime("%m/%d/%Y %I:%M %p") %></dd>
            <dt>Duration</dt>
                <dd><%= d[4] %> minutes</dd>
        </dl>
      </li>
  <% end %>
</ul>
<%
=end %>